.bg {
    width: 98vw;
    height: 97.5vh;
    filter: blur(2px);
    z-index: -1;
}

.event {
    height: 60%;
    width: 25%;
    float: right;
    margin: 50px;
}

.photo {
    padding: 10px;
}

.talks {
    position: fixed;
    top: 0;
}