.events {
    width: 90%;
    height: 70vh;
    background-color: cornsilk;
    margin-top: 7vh;
    margin-right: 10px;
    opacity: 0;
}

.option-bar {
    margin-top: 10vh;
    height: 4vh;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(
        left,
        rgba(0,255,255,0) 1%,
        rgba(0,255,255,.5) 50%,
        rgba(0, 255,255,1) 100%
    ) 100% 0 100% 0/1px 0 1px 0 stretch;
    -moz-border-image: -moz-linear-gradient(
        left,
        rgba(0,255,255,0) 1%,
        rgba(0,255,255,.5) 50%,
        rgba(0, 255,255,1) 100%
    ) 100% 0 100% 0/1px 0 1px 0 stretch;
    -o-border-image: -o-linear-gradient(
        left,
        rgba(0,255,255,0) 1%,
        rgba(0,255,255,.5) 50%,
        rgba(0, 255,255,1) 100%
    ) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: linear-gradient(
        to left,
        rgba(0,255,255,0) 1%,
        rgba(0,255,255,.5) 50%,
        rgba(0, 255,255,1) 100%
    );
    background-image: linear-gradient(to right, rgba(0,0,0,1) 1%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
}

.event-category {
    height: 90vh;
}

@media screen and ( max-width: 576px) {
    .option { width: 100%; }
}

.option {
    padding-right: 15%;
    padding-left: 2%;
    height: inherit;
    padding-top: 3px;
    color: yellow;
}

.events.is-selected {
    opacity: .3;
    transition: opacity 1s ease-in-out;
} 

.bg {
    position: fixed;
    top: 0;
    width: 95vw;
    height: 100vh;
    margin-left: 5%;
}

body {
    margin: 0;
}

.background {
    z-index: -1;
    filter: blur(5px);
    width: 100vw;
    height: 100vh;
}

.event {
    height: 20%;
}

.event-image {
    height: 9vw;
    width: 9vw;
    margin-top: 10%;
    margin-left: 10%;
    background-image: url('codegeass.jpg');
    background-size: cover;
}

.option:hover {
    background-color: rgba(255,255,255,.6);
    transition: all .2s ease-in-out;
}